/* reset css */
html{
    font-size: 70%; 
    scroll-behavior: smooth;
    background-color: var(--connectionButtonTextColor);
}
body{
    font: 1.6rem 'Arimo', sans-serif;
    margin: 0;
    padding: 0; 
    font-family: 'Open-Sans', sans-serif;
}
h1,h2,h3,h4,h5,h6,p,figure,ul,ol{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    color: #222;
    text-decoration: none;
}
*{
    box-sizing: border-box;
}

/* ok */
body{
    background: #fafafa;
}
.center{
    max-width: 370px;
    margin: auto;
}
.top{
    background: #fff;
    border: 0.2rem solid #e6e6e6;
    padding: 2rem 2rem 2rem;
    margin-top: 5rem;
}
#img{
    max-width: 18rem;
   display: block; 
   margin: 0 auto 2rem;
}
#error{
    text-align: center;
    font-size: 1.2rem;
    margin-bottom: 0.5rem;
    color: crimson;
}
.input_field{
    margin-bottom: 0.5rem;
}
#mail{
    margin-bottom: 0.5rem;
}
.input{
    width: 100%;
    background: #fafafa;
    border: 0.1rem solid #efefef;
    font-size: 1.2rem;
    padding: 1rem;
    border-radius: 0.2rem;
}
#login_btn{
    margin: 1rem 0;
    background: #3897f0;
    text-align: center;
    padding: 0.7rem;
    width: 100%;
    border: transparent;
    border-radius: 0.2rem;
    font-size: 1.4rem;
    color: white;
    cursor: pointer;
}
.ou{
    display: flex;
    height: 1.5rem;
    margin: 1.5rem 0 2rem;
    justify-content: space-between;
    align-items: center;
}
.line{
    width: 12.2rem;
    height: 0.2rem;
    background: #efefef;
}
.ou p{
    color:  grey;
    font-size: 1.5rem;
}
.fb{
    display: flex;
    justify-content: center;
    align-items: center;
}
#fb{
    margin-left: -10.6rem;
    max-width: 1.3rem;
    margin-top: -0.2rem;
}
#fb2{
    position: absolute;
    font-size: 1.4rem;
    color: #4267B2;
    
}
#fb3{
    
    font-size: 1.2rem;
    text-align: center;
    margin-top: 2rem;
    margin-left: 8rem;
    color: #4267B2;
}
.signup{
    max-width: 370px;
    margin: 1rem auto 2rem;
    background: #fff;
    border: 0.2rem solid #e6e6e6;
    padding: 2rem 2rem 2rem;
    text-align: center;
    font-size: 1.4rem;
}
.signup a{
    color: #3897f0;
}
.apps{
    max-width: 370px;
    margin: 1rem auto 2rem;
    text-align: center;
    font-size: 1.4rem;
}
.icons img{
    max-width: 13rem;
    max-height: 4rem;
    margin-top: 1.8rem;
}
